<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.js"></script>
    <script src="/public/javascripts/main.js"></script>
  </body>
</html>
